<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xiirpl107172737.remind">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AwalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IslamActivity"
            android:label="@string/title_activity_islam_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KristenActivity"
            android:label="@string/title_activity_kristen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KatolikActivity"
            android:label="@string/title_activity_katolik"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HinduActivity"
            android:label="@string/title_activity_hindu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoaIslamActivity"
            android:label="@string/title_activity_islam_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".reminderIslam" />
    </application>

</manifest>